<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container">
            <h1 align="center">admin dashboard</h1>
            <% if ( typeof(message) != 'undefined' ) { %>
            <p class="col-md-4 col-md-offset-4" id="newTeamMember"><%= message %></p><br>
            <% } %>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 align="center" class="panel-title">
                        <a id="teamMemberInfo" data-toggle="collapse" href="#collapse1">Add/Update/Delete Team Members</a>
                    </h2>
                </div>
                <div class="panel-collapse collapse" id="collapse1">
                    <div class="panel-body">
                        <!--Adding and updating tem members-->
                        <div class="row">
                            <div class="team col-md-4 col-md-offset-1">            
                                <h3 align="center">Add a new Team Member</h3>
                                <form action="/addMember" method="post">
                                    <p class="input-group">
                                        <span class="input-group-addon"><span class="icon-user"></span></span>
                                        <input type="text" required class="form-control input-lg" name="memberName" placeholder="enter name">
                                    </p>
                                    <p class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
                                        <input type="text" required class="form-control input-lg" name="memberDesignation" placeholder="enter Designation">
                                    </p>
                                    <p class="input-group">                               
                                        <textarea type="text" rows="10" cols="50" required class="form-control input-lg" name="memberText" placeholder="enter text"></textarea>
                                    </p>
                                    <p class="text-center">
                                        <button class="btn btn-info btn-lg">Add</button>
                                    </p>
                                </form>
                            </div>
                            <div class="team col-md-4 col-md-offset-2">            
                                <h3 align="center">Update an existing member</h3>
                                <form action="/updateMember" method="post">
                                    <p class="input-group">
                                        <span class="input-group-addon"><span class="icon-user"></span></span>
                                        <input id="editName" type="text" required class="form-control input-lg" name="memberName" placeholder="enter name">
                                    </p>
                                    <p class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
                                        <input id="editDesignation" type="text" required class="form-control input-lg" name="memberDesignation" placeholder="enter Designation">
                                    </p>
                                    <p class="input-group">                               
                                        <textarea id="editText" type="text" rows="10" cols="50" required class="form-control input-lg" name="memberText" placeholder="enter text"></textarea>
                                    </p>
                                    <p class="text-center">
                                        <button class="btn btn-info btn-lg">Update</button>
                                    </p>
                                </form>
                            </div>                      
    
                        </div>
                        <div><h3 id="specialMessages"></h3></div>
                        <!--Now the list of member info extracted from the DB-->
                        <% if (members !== null) { %>
                        <div class="row">
                            <% if (typeof(members) != 'undefined') { %>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Designation</th>
                                                <th>Description</th>                                                
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i < members.length; i++) {%>
                                            <tr id="rowContent">
                                                <td id="teamMemberName"><%= members[i].name %></td>
                                                <td id="teamMemberDesignation"><%= members[i].designation %></td>
                                                <td id="teamMemberDescription"><%= members[i].description %></td>                                                
                                                <td><button id="delMember"  class="btn btn-danger">Delete</button></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                <% } else { %>    
                                    <h3  align="center">There are no members currently</h3>
                                <% } %>
                        </div>  
                        <% } else {%>
                            <div id="noMembers">
                                <h3 id="extraMessages">Please click on <a href="/team">team</a> again</h3>
                            </div>  
                        <% } %>               
                    </div>                
                </div>            
            </div>
            <!--This is for contactUS section of the page-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 align="center" class="panel-title">
                        <a id="contactUsHeader" data-toggle="collapse" href="#collapse2">Contact Us</a>
                    </h2>
                </div>
                <div class="panel-collapse collapse" id="collapse2">    
                    <div class="panel-body">
                        <!--here we enter the contact details of the company-->
                        <div id="contactInfo" class="col-md-4">
                            <h4 align="center">Company name cannot be changed</h4>
                            <form action="/postContactInfo" method="post">
                                <p class="input-group">
                                    <span style="width: 110px" class="input-group-addon">Company</span>
                                    <input type="text" class="form-control input-lg" required name="companyName" id="editName" placeholder="enter Name"
                                </p>
                                <p class="input-group">
                                    <span style="width: 110px" class="input-group-addon">Street</span>
                                    <input type="text" class="form-control input-lg" required name="contactStreet" id="editStreet" placeholder="enter street"
                                </p>
                                <p class="input-group">
                                    <span style="width: 110px" class="input-group-addon">Door Number</span>
                                    <input type="text" class="form-control input-lg" required name="contactDoorNumber" id="editDoorNumber" placeholder="enter Door Number"
                                </p>
                                <p class="input-group">
                                    <span style="width: 110px" class="input-group-addon">Additional info</span>
                                    <input type="text" class="form-control input-lg" required name="contactAdditional" id="editAdditional" placeholder="enter Additional lines"
                                </p>
                                <p class="input-group">
                                    <span style="width: 110px" class="input-group-addon">Phone</span>
                                    <input type="text" class="form-control input-lg" required name="contactPhone" id="editPhone" placeholder="enter Phone Number"
                                </p>
                                <p class="text-center">
                                    <button class="btn btn-info btn-lg">Enter</button>
                                </p>
                            </form>
                        </div>
                        <!--Current address is presented here-->
                        <div class="col-md-6 col-md-offset-2">
                            <div class="jumbotron" id="currentContact">
                                <h3 align="center">Current Address</h3>
                                <% if ( typeof(contactInfo[0]) != 'undefined') { %>                                 
                                    <p>Company Name: <%= contactInfo[0].company %></p>          
                                    <p>Street Name: <%= contactInfo[0].street %></p>
                                    <p>Door No: <%= contactInfo[0].doorNo %></p>
                                    <p>Additional Info: <%= contactInfo[0].additionalLines %></p>
                                    <p>Phone: <%= contactInfo[0].phone %></p>
                                 
                                <% } %>
                            </div>
                        </div>
                    </div>                
                </div>                
            </div>
            <!--Below is for the Testimonial section of the admin-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title" align="center">
                        <a href="#collapse3" id="userTestimonialPanel" data-toggle="collapse">testimonials</a>                        
                    </h2>
                </div>
                <div class="panel-collapse collapse" id="collapse3">
                    <div class="panel-body">
                        <h3>Below is the list of testimonials of users</h3>
                        <% if(typeof(userTestimonials) != 'undefined' || userTestimonials != null  ) {%>
                        <ul>
                            <div id="specialMessageTestimony"></div>
                            <% for (var i= 0; i < userTestimonials.length ; i++) { %>
                                <div id="TestimonyList">
                                    <li id="testimonyUserName"><%= userTestimonials[i].nameUser %></li>     
                                    <p id="testimonyUserMessage"><%= userTestimonials[i].textUser %>  
                                    <button onclick="delTestimony('<%= userTestimonials[i].nameUser %>')"  style="float: right" class="btn btn-danger">Delete</button></p> 
                                </div>                                   
                                <hr>       
                            <% } %>
                        </ul>  
                        <% } %>
                    </div>
                </div>
            </div>

            <!--Below is for the photo gallery-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title" align="center">
                        <a href="#collapse4" data-toggle="collapse">Photo Gallery</a>
                    </h2>
                </div>
                <div class="panel-collapse collapse" id="collapse4">
                    <div class="panel-body col-md-4">
                        <h4 align="center">Below is the place to upload or delete construction pics</h4>
                        <form action="/constructionPic" method="post" enctype="multipart/form-data">                            
                            <div class="custom-file">
                                <input type="file" name="file" id="file" class="custom-file-input" >
                                <label for="file" class="custom-file-label">Construction pic</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                    <!--below is the elevation pic-->
                    <div class="panel-body col-md-4">
                        <h4 align="center">Below is the place to upload or delete elevation pic</h4>
                        <form action="/elevationPic" method="post" enctype="multipart/form-data">                            
                            <div class="custom-file">
                                <input type="file" name="file" id="file" class="custom-file-input" >
                                <label for="file" class="custom-file-label">Elevation pic</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                    <!--below is the interior pic-->
                    <div class="panel-body col-md-4">
                        <h4 align="center">Below is the place to upload or delete interior pic</h4>
                        <form action="/interiorPic" method="post" enctype="multipart/form-data">                            
                            <div class="custom-file">
                                <input type="file" name="file" id="file" class="custom-file-input" >
                                <label for="file" class="custom-file-label">Interior pic</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--Below is for the Projects section of the admin-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title" align="center">
                        <a href="#collapse5" id="projectsPanel" data-toggle="collapse">projects</a>                        
                    </h2>
                </div>
                <div class="panel-collapse collapse" id="collapse5">
                    <div class="panel-body">
                        <h3 align="center">Please enter the project details below</h3>
                        <form action="/addProject" method="post">
                            <p class="input-group">
                                <span style="width: 110px" class="input-group-addon">title</span>
                                <input type="text" class="form-control input-lg" required name="projectTitle" placeholder="title">
                            </p>                            
                            <p class="input-group">
                                <span style="width: 110px" class="input-group-addon">Description</span>                                
                                <textarea class="form-control input-lg" name="projectDescription" cols="30" rows="10"></textarea>
                            </p>  
                            <!--
                            <div class="custom-file">
                                <input type="file" name="file" id="file" class="custom-file-input" >
                                <label for="file" class="custom-file-label">Project Pics</label>
                            </div>    -->
                            <p >
                                <button class="btn btn-info btn-lg">Enter</button>
                            </p>                     
                        </form>
                    </div>
                </div>
            </div>

        </div>

       
        
        
    </body>
</html>